.cache
build
disasm*.txt
unclog.txt
*.elf
*.json
nl.txt
*.asm.s

# Python
*.egg-info

# Prerequisites
*.dSYM
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
